
$header-main-color:#fcdb00;
$priority-color: #222222;
$hover: #5f9ed0;
$main-background: #ffffff;
$secondary-color: #a1a1a1;

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}

a{
    outline: none;
    text-decoration: none;
}

a:hover, button:hover{
    cursor: pointer;
}


.header {
    width: 100%;
    // height: 850px;
    // height: calc(100vh - 120px);
    height: calc(100vh - 0px);
    background:$header-main-color;
    display: flex;
    justify-content: center;
    

    &__conteiner{
        width: 1000px;
        // height: 780px;
        // height: 100vh;
        // margin: auto;

      

        &__head{
            width: 100%;
            height: 90px;
            display: flex;
            justify-content: space-between;
          
            
            &__drop {
                width:20px;
                height: 20px;
                justify-content: space-around;
                margin: auto 0;
                cursor: pointer;
            }
            
            &__logo{
                // width: 150px;
                height: 32px;
                color: $priority-color;
                display: flex;
                margin: auto 0;

                &__image {
                    font-size: 30px;
                    padding-right: 4px;
                }

                &__name {
                    font-weight: bold;
                    font-size: 30px
                }
            }

            &__icons {
                width: 140px;
                height: 20px;
                display: flex;
                justify-content: space-around;
                margin: auto 0;

                &__icon{
                    font-size: 30px;
                }
            }

            &__link{
                color: $priority-color;
            }

            &__link:hover {
                color: $hover;

            }

            &__drop:hover .header__conteiner__drop__box {
                background: $hover;
            }

        }



        &__drop__box {
            width: 100%;
            height: 4px;
            background: $priority-color;
        }

       
        &__main{
            width: 600px;
            height: 300px;
            margin: auto;
            color: $priority-color;
            text-align: center;
            justify-content: space-around;

            &__head {
                font-size: 50px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            &__btn{
                border: 1px solid $priority-color;
                width: 250px;
                height: 55px;
                background: $header-main-color;
                margin: auto;
                font-weight: bold;
                outline: none;
                cursor: pointer;
                
            }

            &__btn:hover {
                background: $hover;
                border: $hover;
            }

        }






        &__footer {
            width: 60px;
            height: 65px;
            margin:0 auto;
            

            &__arrow{
                color: $priority-color;
                font-size: 60px;
                margin: auto;
            }

            &__arrow:hover {
                color: $hover;
            }

        }
    }
}


.drop__nav {
    background: gold;
    position: absolute;
    width: auto;
    height: calc(100vh - 90px);
    // height: calc(780px - 90px);
    // height: 100vh;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    border: 1px solid $priority-color;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: navmove 2s ;
    transform: translate(16px, -10px) scale(0.7);

    &__conteiner {
        list-style: none;
       

        &__list{
            border-bottom: 1px solid $priority-color;
            line-height: 40px;
            height: 40px;

            &__link{
                color: $priority-color;
                text-decoration: none;
            }
            
            &__link:hover {
                color: $hover;
            }
        }
    }
}



.features {
    width: 100%;
    height: 700px;
    background: $main-background;
    
    &__conteiner{
        width: 950px;
        height: 520px;
        display: flex;
        justify-content: space-between;;
        align-content: center;
        margin: auto;
    }

    &__header {
        text-align: center;
        margin: 0 auto;


        &__title{
            color: $priority-color;
        }

        &__para {
            color: $secondary-color;
            width: 750px;

        }
    }

    &__main {
        width: 950px;
        height: 340px;
        display: flex;
        flex-wrap: wrap;

        &__contein{
            width: 310px;
            height: 140px;
            margin-left: 5px;
            margin-top: 5px;
            display: flex;
            flex-wrap: wrap;

            &__img{
                width: 50px;
                

                &__about {
                    width: calc(100% - 50px);
                   
                }

            }

        }

        

        &__title{
            color: $priority-color;
            margin: 0;

        }

        &__para {
            width: auto;
            color: $secondary-color;
            font-size: 14px;
        }
        
        &__contein:hover{
            background: $hover;
            color: $main-background;
            cursor: pointer;
        }

        &__contein:hover .features__icon  {
            color: $header-main-color;
        }
        &__contein:hover .features__main__title  {
            color: $header-main-color;
        }
        &__contein:hover .features__main__para  {
            color: $main-background;
        }


    }

    &__icon {
        color: $priority-color;
        font-size: 35px;
        margin-top: 5px;
        margin-left: 5px;
    }
}

.trial{
    background: $main-background;
    height: 650px;

    &__main {
        width: 900px;
        height: 460px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
         

        &__item{
            height: 100%;
            margin-left: 15px;
            width: 235px;
            margin-top: 15px;
            
        }

        &__item:hover {
            cursor: pointer;
        }
        &__item:hover .trial__main__img {
            background: $priority-color;
            color: $main-background;
        }

        &__item:hover .trial__main__btn {
            background: $priority-color;
            color: $main-background;
           
        }



        &__img {
            background: $secondary-color;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        

            &__icon {
                font-size: 40px;
                
            }

        }

        &__info {
            text-align: center;

            // &__header {

            // }

            &__span{
                color: $secondary-color;

            }
        }

        &__price {
            text-align: center;
            margin-top: 10px;
            margin: 30px 0px;

            &__header {
               margin: 0;
            }

            &__span{
                color: $secondary-color;
                border-top: 1px solid black;

            }

        }

        &__btn {
            background: $main-background;
            border: 1px solid black;
            width: 135px;
            height: 50px;
            text-align: center;
            font-weight: bold;
            margin: auto;
        }
    }


}

.work{
    height: 850px;
    width: 100%;
    background: $main-background;

    &__conteiner {
        height: 850px;
    }

    &__main {
        height: 650px;
        width: 100%;
        flex-wrap: wrap;

        &__item {
            width: 220px;
            height: 300px;
            margin: auto;

            &__img {
                background: url('http://www.highdefgeek.com/wp-content/uploads/2017/09/web-designer-vs-web-builder.png');
                background-size: auto;
                background-repeat: no-repeat;
                 background-position: center;
                height: 220px;
                width: 220px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
               

                &__info {
                    height: 25px;
                    color: $main-background;
                    display: flex;
                    justify-content: space-between;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }

        &__item:hover{
            background: $hover;
            cursor: pointer;
        }
    }

    &__img__about {
        margin: 0;
    }
}


.team {
    width: 100%;
    height: 620px;
    background: $main-background;

    &__conteiner {
        height: 500px;
    }

    &__main {
        width: 950px;
        height: 330px;
        display: flex;
        flex-wrap: wrap;

        &__item {
            height: 300px;
            width: 170px;
            justify-content: space-between;
            margin: auto;

            &__img{
                width: 130px;
                height: 130px;
                background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQw4Qpzyltc7-QRWxjqb1Za7Zw_aMXeULRJqfe4GklmMJwCsXf');
                background-size: 130px;
                background-position: center;
                border-radius: 50%;
                margin: 0 auto;


            }

            &__icons {
                justify-content: space-between;
                margin: auto;
                width: 60px;
            }
        }

        &__item:hover {
            background: $header-main-color;
            cursor: pointer;
        }
    }
}

.stat {
    width: 100%;
    height: 700px;
    background: $main-background;

    &__conteiner{
        height: 630px;

    }


    &__statistic{
        width: 560px;
        height: 130px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;

        &__item {
            width: 80px;
            height: 100px;
            margin: auto !important;
            text-align: center;
            justify-content: space-between;
            flex-wrap: wrap;
            

            // &__info {
                
            // }
        }
        &__item:hover {
            cursor: pointer;

        }

    }
    &__conteiner div{
        margin: 10px auto;

    }
    &__statistic div{
        margin: auto;
    }

    &__icon{
        font-size: 50px;
        
    }

    &__img {
        width: 100px;
        height: 100px

    }

    &__para {
        width: 400px;
    }
    &__quote {
        border: none;
        margin-bottom:-30px;
        
    }




}

.contact{
    width: 100%;
    height: 840px;
    background: #ffffff;

    &__conteiner{
        align-items: center;
        height: 100%;
}
    
    &__info{
  
        width: 650px;
        height: 130px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;


        
        &__item{
            width: 180px;
            height: 120px;
            margin: auto;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;

            &__cont{
                align-items:center ;
                text-align: center;
                height: 60px;
            }
        }
        &__item i{
            font-size: 35px;
        }
    }


    &__form{
        width: 480px;
        height: 480px;

    
        &__inp{
        width: 96%;
        height: 55px;
        border: 3px solid $priority-color;
        margin-bottom: 24px;
        outline: none;
        padding-left: 16px;
        }     
        
        &__msginp{
            height: 210px;
            padding-top: 16px;
        }

    }
    &__form button{
        height: 50px;
        width: 150px;
        background-color: black;
        color: $main-background;
        border: none;
        outline: none;
    }
    &__form div{
    display: flex;
    justify-content: center;

    }
    button:hover{
        color: black;
        background-color: $hover;
        
    }

}

footer{
    width: 100%;
    height: 780px;
    margin-top: 80px;
    background-color: #010101;

    a, span{
        color: $secondary-color;
    }
    a:hover{
        color: $hover;
    }
    button:hover{
        color: white;
        background-color: #010101;
        
    }


}
.footer{
    width: 100%;
    height: 100%;

    &__conteiner{
        height: 380px;
        width: 100%;
        justify-content: space-around;
    }
    &__conteiner h1{
        color: #ffffff;
    }

    &__info div{
        width: 770px;
        margin: auto;
    }
    &__info input{
        height: 48px;
        width: 600px;
        margin-left: 16px;
    }
    &__info button{
        height: 54px;
        width: 130px;
        font-weight: bold;
    }
    &__link div{
      
        width: 160px;
        
    }
    &__link{
        height: 200px;
        width: 900px;
        display: flex;
        flex-direction: row;
        margin: auto;
        align-items: center;

        &__address{
        width: 310px !important;
        }
    }



}











.column {
    display: flex;
    flex-direction: column;
}

@keyframes navmove {
    from {top: -100vh}
    to {top: 0px;}
  }